.difficulty-section{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow2);
}

#difficulty{
    transition: 1s;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    font-size: 1.6rem;
    background-color: inherit;
    text-wrap: wrap;
    overflow: hidden;
    user-select: none;
}

.difficulty-and-mode-wrapper{
    width: 60%;
    right: 1rem;
    display: none;
    height: 12rem;
    max-width: 390px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid black;
    top: calc(6.4rem + 3vh);
    box-shadow: var(--box-shadow1);
}

.difficulty-wrapper, .mode-wrapper{
    display: grid;
    grid-template-columns: auto;
    width: 50%;
}

.border-line:last-child{
    border: none;
}

.difficulty-option:nth-child(even), .mode-option:nth-child(even){
    background-color: var(--option-even-background);
    color: white;
}

.difficulty-option:nth-child(even):hover, .mode-option:nth-child(even):hover{
    background-color: var(--option-even-hover-background);
    color: white;
}

.difficulty-option:nth-child(odd), .mode-option:nth-child(odd){
    background-color: var(--option-odd-background);
    color: black;
}

.difficulty-option:nth-child(odd):hover, .mode-option:nth-child(odd):hover{
    background-color: var(--option-odd-hover-background);
}

.difficulty-option:nth-child(odd){
    border-right: 1px solid black;
}
.difficulty-option:nth-child(even){
    border-right: 1px solid white;
}

.mode-option:nth-child(odd){
    border-left: 1px solid white;
}

.mode-option:nth-child(even){
    border-left: 1px solid black;
}
