.notification {
    position: absolute;
    width: 40vw;
    height: 30vh;
    background-color: rgb(244, 208, 111);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.notification {
    display: grid;
    grid-template-rows: auto;
}

.notification div {
    font-size: 5em;
    text-align: center;
}

.reset-button {
    font-size: 2rem;
    font-weight: 600;
}

/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 0 0 10% 10%;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: rgb(244, 208, 111);
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 0.8;}
}

.fadeIn {
  animation: fadeIn 2s;
}

@keyframes fadeOut {
  0% {opacity: 0.8;}
  100% {opacity: 0;}
}

.fadeOut {
  animation: fadeOut 3s;
}