.notification {
  position: absolute;
  width: 40vw;
  height: 35vh;
  background-color: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 2px;
  box-shadow: var(--box-shadow-notification);
}

.win-or-lose{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.notification {
  display: grid;
  grid-template-rows: auto;
}

.reset-button {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  font-weight: 550;
  background-color: inherit;
}

.reset-button:hover{
  background-color: var(--title-background);
  transition: 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 0.8;}
}

.fadeIn {
  animation: fadeIn 2s;
}

@keyframes fadeOut {
  0% {opacity: 0.8;}
  100% {opacity: 0;}
}

.fadeOut {
  animation: fadeOut 3s;
}


/* lets define css style for score */
.score-display{
  box-shadow: var(--box-shadow2);
  display: none;
  justify-content: center;
  align-items: center;
}

.score-icon-wrapper{
  display: flex;
}

.score-display span{
  font-size: 2rem;
  font-weight: 600;
}

.score-and-high-score-wrapper{
  position: absolute;
  width: calc(50vw + 10rem);
  max-width: 400px;
  top: calc(6.4rem + 3vh + 3.8rem);
  left: 1rem;
  box-shadow: var(--box-shadow-score-history);
  background: var(--notification-background);
  display: none;
}

.score-history-container{
  max-height: 150px;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: auto;

  /* menghilangkan scroll bar pada beberapa browser */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.score-history-container:;-webkit-scrollbar{
  display: none;
}

.high-score{
  top: calc(6.4rem + 3vh);
  left: 1rem;
  box-shadow: var(--box-shadow-high-score);
  text-align: center;
  padding: 1rem 0;
  font-size: 1.7rem;
  position: fixed;
  width: calc(50vw + 10rem);
  max-width: 400px;
  background: var(--notification-background);
}

.score-section{
  padding: 1rem;
}

.bold{
  font-weight: 600;
}

.difficulty-score{
  box-shadow: var(--box-shadow-difficulty-score);
  font-family: Times new roman;
}

ul{
  padding: 0 0 0 2rem;
}

li{
  margin-bottom: .8rem;
}

li:last-child{
  margin-bottom: 0;
}

li::after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
}
