* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Courier Prime', monospace;
    background-color: rgb(160,219,240);
}

.title{
    width: 100%;
    height: 6.4rem;
    display: grid;
    grid-template-columns: 3fr auto 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 0 1rem;
    background-color: rgb(18,164,217);
}

.title h1{
    font-size: 3.2rem;
    font-weight: 600;
}

.container {
    margin: 3vh 0 0 0;
    width: 100%;
    height: calc(97vh - 6.4rem); 
    /* Ini di dapatkan dari pengurangan height yang di miliki oleh title dan di berikan vh yang di kurangi marginnya*/
    background-color: rgb(113,200,232);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .8rem;
    gap: 1rem;
}

.count-down-time {
    position: relative;
    height: 80%;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 80%;
    padding: 0 .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.score-icon{
    text-align: center;
    cursor: pointer;
}

.score-icon::after{
    content: "Score";
    display: block;
    font-size: 1.2rem;
}

.button-section{
    height: 80%;
}

.play-button{
    cursor: pointer;
    transition: 1s;
    height: 100%;
    width: 6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: inherit;
    border: none;
}

.play-button:enabled:hover, .difficulty-section[data-disabled="false"]:hover{
    transition: 1s;
    background-color: rgb(160,219,240);
}

.play-button:disabled, .difficulty-section[data-disabled="true"]{
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
};
